@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WantedSansRegular';
  src: url('/src/assets/fonts/WantedSansRegular.ttf');
}
html {
  font-family: 'WantedSansRegular', sans-serif;
}
