@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'notoSans';
  src: url('/src/assets/fonts/notoSans.ttf');
}


.hover-effect {
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out, z-index 0.3s ease-in-out;
  border-radius:50px;

}

.hover-effect:hover {
  z-Index:3;
  transform:scale(1.2);
  transition: transform 0.3s ease-in-out;
  
}

body {
    background-color: #4661AC; 
    display:flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
   /* body의 기본 마진 제거 */


  }
  
  .search-container {
    @apply fixed top-0 right-0 h-full bg-white transition-transform duration-300 transform translate-x-full;
    width: 50%;
  }
  
  .search-container.visible {
    @apply transform translate-x-0;
  }
  
  .main-content {
    @apply transition-transform duration-300 transform;
    width: 100%; /* 초기 너비 설정 */
  }
  
  .main-content.search-visible {
    @apply transform translate-x-[-40%];
    width: 100%; /* 검색이 보이는 상태일 때 너비 조절 */
    
  }

