@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WantedSansRegular';
  src: url('/src/assets/fonts/WantedSansRegular.ttf');
}

.hover-effect {
    color: white;
    border-radius: 3em;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    margin: 8px;
  }
  
  .hover-effect:hover {
    transform: scale(1.2); /* 커지는 효과 */
  }

.hover-effect.active {
  opacity: 1;
}

body {
  background-color: #CEE2FE;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
  /* body의 기본 마진 제거 */
}

.main-content {
  @apply transition-transform duration-300 transform;
  width: 100%; /* 초기 너비 설정 */
}

.main-content.search-visible {
  @apply transform translate-x-[-35%];
  width: 100%; /* 검색이 보이는 상태일 때 너비 조절 */
}