.summary-container {
  @apply fixed top-0 right-0 h-full  transition-transform duration-300 transform translate-x-full;
  width: 40%;
  border-radius: 28px 0px 0px 28px; /* 요약본페이지 라운딩 왼쪽 효과 */
  background-color: #f5f5f7;
}
.summary-container.visible {
  @apply transform translate-x-0;
}
.right-40 {
  right: 40%;
}

.timeSummary-container {
  @apply fixed top-0 right-40 h-full  transition-transform duration-300 transform translate-x-full;
  width: 100%;
  border-radius: 28px 0px 0px 28px; /* 요약본페이지 라운딩 왼쪽 효과 */
  background-color: #f5f5f7;
}
.timeSummary-container.visible {
  @apply transform translate-x-0;
}
